<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/404.css" />
    <link rel="icon" type= "image/png" href="https://www.google.com/s2/favicons?domain=https://squareup.com/us/en">
    <title>CE5</title>
</head>
<body>
    <div class="container">
        <h1>404</h1>

    </div>
    <script src="/js/index.js"></script>
    <script src="/js/router.js"></script>
</body>
</html>