<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="icon" type= "image/png" href="https://www.google.com/s2/favicons?domain=https://squareup.com/us/en">
    <title>CE5</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a id="home-anchor">HOME</a>
        </div>
        <div class="main-content">
            <img src="/img/profile-big.png"/>
            <h3 id="emailLink">jon.taylorlim99@gmail.com</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <button id="contactButton" class="contact-btn">Contact</button>
        </div>
    </div>
    <script src="/js/about.js"></script>
    <script src="/js/router.js"></script>
</body>
</html>