<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="icon" type= "image/png" href="https://www.google.com/s2/favicons?domain=https://squareup.com/us/en">
    <script src="/js/contact.js" defer></script>
    <title>CE5</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a id="home">HOME</a>
        </div>

        <div class="titles">
            <h3>ESC CE5</h3>
            <h1>Contact Me</h1>
        </div>

        <div class="author" id="github">
            <img src="/img/github.png">
            <div class="handles">
                <p>@JTZ18</p>
                <p>Github</p>
            </div>
        </div>
    </div>
</body>
</html>